# Project exclude paths
/.gradle/
/Number Base Converter/task/build/
/Number Base Converter/task/out/
/Number Base Converter/task/out/production/classes/
/Topics/BigDecimal/Multiplication/out/
/Topics/BigDecimal/Multiplication/out/production/classes/
/Topics/BigDecimal/Round and power/out/
/Topics/BigDecimal/Round and power/out/production/classes/
/Topics/BigDecimal/Rounding with a given precision/out/
/Topics/BigDecimal/Rounding with a given precision/out/production/classes/
/Topics/BigInteger/An expression with large numbers/out/
/Topics/BigInteger/An expression with large numbers/out/production/classes/
/Topics/BigInteger/The smallest value/out/
/Topics/BigInteger/The smallest value/out/production/classes/